body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #0046b8, #f20089, #00ffea);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
 }
 
 @keyframes gradientAnimation {
    0% {
       background-position: 0% 50%;
    }
    50% {
       background-position: 100% 50%;
    }
    100% {
       background-position: 0% 50%;
    }
 }
 
 /* Rest of your existing CSS styles */
 
 body, html {
    height: 100%;
 }
 
 body {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 form {
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 h1 {
    text-align: center;
    color: #333333;
 }
 